.music__payment_title,
.music__review_title {
  color: var(--first-color);
  font-size: 20px;
  text-align: left;
  margin: 0;
}

.music__payment_buttons {
  display: flex;
  justify-content: space-between;
}

/* Review */

.music__review_container {
  margin: 1rem 0;
}

.music__review_list p,
.music__review_total p {
  margin: 0;
}

.music__review_list,
.music__review_total {
  text-align: left;
}

.music__review_data {
  display: flex;
  justify-content: space-between;
}
.music__review_data p {
  color: var(--third-color);
}

.music__review_total-price {
  font-weight: 800;
}
