:root {
  --main-font: "Catamaran", sans-serif;
  --title-font: "Kaushan Script", cursive;
  --first-color: #353535;
  --second-color: #9e3aa3;
  --third-color: #8a8989;
  --cart-menu-color: #230a2466;
  --background: #faf5f3;
}
